.dart_tool/
.idea/
.scannerwork/
.vscode/
build/
screens_short_cut_app/
.pub-cache/
.pub/
.env
Dockerfile
.dockerignore
.flutter-plugins
.flutter-plugins-dependencies
main.py
.packages
*.iml
*.log
old_*/
old_*